{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
  Bubbl
{% endblock %}

{% block styles %}
{{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='css/signin.css')}}">
  <style> 
    body { background-color: #6ff7fe;}
  </style>
{% endblock %}

{% block content %}
      <div class="bubbl-signin">
        <img src = "static/img/bubblLogo.png" style="margin-top: 25px;">
        <p class = "lead" style = "font-size: 25px; font-family: 'Lucida Sans'">
          Thanks for signing up! <br> Happy social distancing and stay safe!</p>
        </div>

      <div class="footer" style="font-family: 'Lucida Sans'; font-size: 15px; margin-top: 125px; text-align: center;">
            <strong><p>&copy; Bubbl 2020</p> </strong>
          </div>

{% endblock %}